/* You can add global styles to this file, and also import other style files */
body {
  height: 5000px;     // Simulate large data so we can scroll
  padding-top: 56px;  // Adjust the value based on your navbar height
}

.sidenav-container {
  height: 100%;
  background: #0a53be;
}
